<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link href="../static/css/core.css" rel="stylesheet" type="text/css" th:href="@{/css/core.css}" />
		<script type="text/javascript" th:src="@{/js/libweb.js}"></script>
		<title>Admin</title>
	</head>
	<body>
		<ul class="painel-info-usuario">
			<div class="logout">
				<li><a class="btn" href="/logout">Logout</a></li>
			</div>
			<li th:with="usuario=${#authentication.getPrincipal()}">
				<p>
					<span th:text="${usuario.getNome()}">Nome</span>
					<span th:text="${usuario.getSobrenome()}">Sobrenome</span>
				</p>
				<p>
					<span>Saldo: R$</span>
					<span th:text="${usuario.getCarteira().getSaldo()}">Saldo</span>
					<button id="addSaldoBtn" class="btn">+</button>
				</p>
				<div id="addSaldoModal" class="modal">
					<div class="modal-content">
				    	<span class="close">&times;</span>
						<form name="f" th:action="@{/api/add-saldo}" method="post">
							<input type="number" step="0.01" min=0 id="quantidade" name="quantidade" placeholder="Quantidade para comprar"/>
							<button class="btn" style="margin-top: 5px;"type="submit">Comprar</button>
						</form>
				  	</div>
				</div>
			</li>
		</ul>
		
		<ul class="painel-menu">
			<li><a class="active" href="#">Home</a></li>
			<li><a class="dropdown-a">Admin</a></li>
			<div id="dropdown-container" class="dropdown-container">
				<a href="/usuarios">Editar Usuário</a>
				<a href="/livros">Add/Editar Livro</a>
			</div>
			<li><a href="#">Loja</a></li>
			<li><a href="#">Meus Livros</a></li>
			<li><a href="#">Configurações</a></li>
		</ul>
		
		<div class="painel-output">
		</div>
	</body>
</html>