<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <link href="../static/css/loginRegistrar.css" rel="stylesheet" type="text/css" th:href="@{/css/loginRegistrar.css}" />
		<title>Registrado com sucesso</title>
	</head>
	<body>
		<h1 class="titulo">WebLib</h1>
		<div class="login-page">
			<div class="form">
				<p class="mensagem">Conta criada com sucesso :)<br/>
				Clique <a href="/login">aqui</a> para ir à tela de login.</p>
			</div>
		</div>
	</body>
</html>